@model IEnumerable<WATest.Entities.Libro>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
    <p>
        @Html.ActionLink("Crear nuevo", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Editorial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editorial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.IdLibro }) |
                @Html.ActionLink("Detalle", "Details", new { id=item.IdLibro }) |
                @Html.ActionLink("Eliminar", "Delete", new { id=item.IdLibro })
            </td>
        </tr>
    }
    
    </table>
